.emoji__input {
    border: 1px solid #000;
}

@media screen and (max-width: 768px) {
    .emoji__input {
        width: 50%;
    }
}

@media screen and (max-width: 425px) { /*меньше 1024 будут действовать правила следующие:*/
    .emoji__input {
        border: 3px solid pink;
        width: 100%;
        height: 200px;
    }
}

